.cart_container {
  display: flex;
}

.cart_image {
  width: 30px;
  height: auto;
}

.cart_item_count {
  color: white;
  font-weight: 600;
  font-size: 10px;
  background: #0579ec;
  border-radius: 50px;
  padding: 5px 8px 5px 8px;
  align-self: center;
}
